.background {
  position: fixed;
  overflow: hidden;
  left: -10vw;
  top: -10vh;
  width: 120vw;
  height: 120vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  >.elipse-wrapper {
    width: 50vw;
    height: 50vh;
    position: relative;
  }
}