$btn-width: max-content;
$btn-background-color: rgba(8, 216, 153, 1);
$btn-padding: 8px 24px;
$btn-border-radius: 8px;
$btn-font-family: 'Manrope',
sans-serif;
$btn-font-size: 18px;
$btn-line-height: 24px;
$btn-color: white;