.contacts {
  min-width: 190px;
  display: flex;
  padding-right: 50px;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  >.logo {
    width: 24px;
    height: auto;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

@media (max-width:700px) {
  .contacts {
    margin: 30px 0;
    padding: 0;
  }
}