.contacts {
  max-width: 190px;
  display: flex;
  margin: auto;
  margin-right: 50px;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  >.logo {
    width: 24px;
    height: auto;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

@media (max-width:700px) {
  .contacts {
    margin: 10px 0;

    >.logo {
      width: 16px;
    }
  }
}